@font-face {
  font-family: autumn;
  src: url(assets/fonts/Autumn.ttf);
}

@font-face {
  font-family: creation;
  src: url(assets/fonts/CreattionFont.otf);
}

@font-face {
  font-family: elsie;
  src: url(assets/fonts/Elsie-Regular.otf);
}

@font-face {
  font-family: greatVibes;
  src: url(assets/fonts/GreatVibes-Regular.ttf);
}

* {
  box-sizing: border-box;
  font-family: elsie;
}

body {
  margin: 0;
  padding: 0;
  background-color: #fff;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: #212529;
}

a:hover {
  color: #212529;
}

ul {
  list-style: none;
}
.container-fluid {
  transition: all 1s;
}

.container-fluid[data-blur="true"] {
  filter: blur(5px);
  pointer-events: none;
  user-select: none;
}

/* navbar */
.navbar__container {
  height: 100px;
  width: 100%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px;
}

.navbar {
  height: 100%;
}

.navbar__socialLink {
  display: none;
}

.navbar__socialLink i {
  color: #212529;
  font-size: 15px;
  margin-left: 10px;
}

.navbar__dropDown {
  padding-top: 5rem;
  padding-right: 10px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  position: fixed;
  inset: 0 45% 0 0;
  background: #fbf5f3;
  z-index: 100;
  gap: 5rem;
  transition: all 0.8s;
  transform: translateX(-100%);
}

.navbar__mobileToggle {
  position: absolute;
  width: 3rem;
  aspect-ratio: 1;
  border: none;
  background: inherit;
  top: 25%;
  left: 0;
  z-index: 9999;
  font-size: 20px;
  display: block;
}

.navbar__dropDown[data-visible="true"] {
  transform: translateX(0%);
}

.navbar__mobileToggle[aria-expanded="true"] {
  display: none;
}

.navbar__expandmenu__mobileToggle {
  width: 3rem;
  aspect-ratio: 1;
  border: none;
  background: inherit;
  font-size: 20px;
  position: absolute;
  right: 0;
  top: 0;
}

.navbar__cart {
  position: fixed;
  inset: 0 0 0 45%;
  background: #fbf5f3;
  z-index: 100;
  transition: all 1s;
  transform: translateX(100%);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px;
}

.navbar__cart[data-visible="true"] {
  transform: translateY(0%);
}

.navbar__cartToggle_expanded {
  width: 3rem;
  aspect-ratio: 1;
  border: none;
  background: inherit;
  font-size: 20px;
  position: absolute;
  right: 0;
  top: 10px;
}

.navbar__dropDown ul {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-right: 1rem;
}

.navbar__dropDown-search {
  max-width: 100%;
}

.form-control {
  border: solid #fdeae3;
}

.form-control:focus {
  color: #212529;
  background-color: #fff;
  border-color: #fdeae3;
  outline: 0;
  box-shadow: 0 0 0 0.25rem #fdeae3;
}

.navbar__dropDown-search-Btn {
  width: 40px;
  font-size: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar__dropDown-search-Btn i {
  font-size: 15px;
}

.navbar__dropDown i {
  color: #212529;
}

.navbar__link {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.navbar__link li:not(:nth-child(3)) {
  display: none;
  color: #212529;
}

.navbar__link__home {
  color: #212529;
  font-size: 30px;
  font-family: creation;
  font-weight: bolder;
}

.navbar__userLink {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 20px;
  gap: 1rem;
}

.navbar__userLink-search {
  display: none;
}

.navbar__userLink-search .search-container {
  float: right;
}

.navbar__userLink-search input[type="text"] {
  padding: 6px;
  font-size: 15px;
  border: none;
  max-width: 100px;
}

.navbar__userLink-search .search-container button {
  float: right;
  padding: 6px 10px;
  margin-right: 16px;
  background: rgb(255, 255, 255);
  font-size: 15px;
  border: none;
  cursor: pointer;
}

.navbar__userLink-search .search-container button:hover {
  background: #ccc;
}

/* navbar */
/* banner */

.swiper {
  width: 100%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.banner__swiper-button-next::after,
.banner__swiper-button-prev::after {
  display: none;
  color: #212529;
  font-size: 30px;
  opacity: 0.5;
  transition: all 0.5s;
}

.banner__swiper-button-next:hover::after,
.banner__swiper-button-prev:hover::after {
  font-size: 40px;
  opacity: 1;
}

/* banner */

/* welcome section */
.welcome__container {
  height: 500px;
  padding: 50px;
}
/* welcome section */
/* responsive */
@media (min-width: 1025px) {
  .navbar__socialLink {
    display: flex;
  }
  .navbar__dropDown {
    display: none;
  }
  .navbar__link li:not(:nth-child(3)) {
    display: block;
    color: #212529;
  }
  .navbar__link {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
  }

  .navbar__link__home {
    font-size: 50px;
  }
  .navbar__userLink-search {
    display: block;
  }
  .swiper-slide img {
    max-height: 830px;
  }

  .navbar__mobileToggle {
    display: none;
  }

  .navbar__cart {
    inset: 0 0 0 75%;
  }

  .navbar__cartToggle_expanded {
    font-size: 30px;
  }

  .navbar__cartToggle {
    margin-right: 30px;
  }

  .banner__swiper-button-next::after,
  .banner__swiper-button-prev::after {
    display: block;
  }
}
/* responsive */
