/* font for logo */
@font-face {
  font-family: Madina;
  src: url(assets/fonts/Madina.ttf);
}
/* font for logo */

@font-face {
  font-family: pompiere;
  src: url(assets/fonts/Pompiere-Regular.ttf);
}

@font-face {
  font-family: SoftElegance;
  src: url(assets/fonts/SoftElegance.ttf);
}

@font-face {
  font-family: commercial;
  src: url(assets/fonts//Montserrat-Regular.ttf);
}

* {
  box-sizing: border-box;
  font-family: SoftElegance;
}

body {
  margin: 0;
  padding: 0;
  background-color: #fff;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

#toTopButton {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 9999;
  font-size: 25px;
  border: none;
  outline: none;
  background-color: #eccbbe;
  color: white;
  cursor: pointer;
  width: 50px;
  border-radius: 100%;
  aspect-ratio: 1;
  transition: all 0.5s;
}

#toTopButton {
  display: none;
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 9999;
  font-size: 15px;
  border: none;
  outline: none;
  background-color: #eccbbe;
  color: white;
  cursor: pointer;
  width: 40px;
  border-radius: 100%;
  aspect-ratio: 1;
  transition: all 0.5s;
}

#toTopButton:hover {
  background-color: #e0ab97;
}

a {
  text-decoration: none;
  color: #212529;
}

a:hover {
  color: #212529;
}

ul {
  list-style: none;
}

/* navbar */
.nav-above {
  width: 100%;
  height: 50px;
  background-color: #fbf5f3;
}

.nav-above .container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  color: #212529;
  align-items: center;
}

.nav-above .container .social-icons i {
  font-size: 15px;
  padding: 5px;
}

.nav-above .container .social-langController .btn {
  font-size: 15px;
  padding: 5px;
  background-color: unset;
  color: #212529;
  border: none;
}
.nav-above .container .social-langController .dropdown-menu {
  border: none;
  background-color: #fbf5f3;
  transform: translate(0px, 40px) !important ;
}

.nav-above .container .social-langController .btn:active,
.nav-above .container .social-langController .btn:focus {
  border: none;
  box-shadow: none;
}

.nav-main {
  height: 100px;
  max-width: 1920px;
  margin: auto;
}
.navbar-container {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: 1fr 1.4fr 1fr;
  align-items: center;
  justify-content: center;
  margin: auto;
  max-width: 1300px;
}

.nav-brand {
  font-family: Madina;
  font-size: 30px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  font-weight: bolder;
  align-items: center;
}

.nav-userContainer {
  display: flex;
  align-items: center;
  font-size: 20px;
  width: 100%;
  justify-content: flex-end;
}

.cart {
  margin-left: 30px;
}

.cart-sup {
  margin-left: -5px;
  width: 20px;
  color: #fff;
  aspect-ratio: 1;
  border-radius: 100%;
  background-color: #eccbbe;
  transform: translateY(-10px);
  font-size: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-toggle .cart {
  margin-left: 0px;
}
.nav-toggle {
  display: flex;
  align-items: center;
  height: 100%;
  font-size: 20px;
  padding: 0;
  justify-content: flex-start;
}

.nav-toggle form {
  display: none;
  outline: 0;
  float: left;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12),
    0 1px 2px rgba(0, 0, 0, 0.24);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -webkit-border-radius: 4px;
  border-radius: 4px;
  position: relative;
}

.cart form {
  display: block;
}

.nav-toggle form > .textbox {
  outline: 0;
  height: 42px;
  width: 100%;
  line-height: 42px;
  padding: 0 16px;
  background-color: rgba(255, 255, 255, 0.8);
  color: #212121;
  border: 0;
  float: left;
  -webkit-border-radius: 4px 0 0 4px;
  border-radius: 4px 0 0 4px;
}

.nav-toggle form > .textbox:focus {
  outline: 0;
  background-color: #fff;
}

.nav-toggle form > .button {
  position: absolute;
  right: 0;
  outline: 0;
  background: none;
  background-color: #eccbbe;
  float: left;
  height: 42px;
  width: 42px;
  text-align: center;
  line-height: 42px;
  border: 0;
  color: #fff;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: 16px;
  text-rendering: auto;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  -webkit-transition: background-color 0.4s ease;
  transition: background-color 0.4s ease;
  -webkit-border-radius: 0 4px 4px 0;
  border-radius: 0 4px 4px 0;
}

.nav-toggle form > .button:hover {
  background-color: #e0ab97;
}

.offcanvas {
  background-color: #fbf5f3;
  transition: all 0.75s;
}

.offcanvas-body {
  padding: 1.5rem 1.5rem;
}

.offcanvas-body li {
  margin-top: 10px;
}

.nav-bottom {
  position: absolute;
  height: 40px;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
  display: none;
}

.nav-bottom ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
}

.nav-bottom ul li {
  margin-left: 15px;
  margin-right: 15px;
  font-size: 20px;
}

/* navbar */
/* banner */

.banner {
  max-width: 1920px;
  margin: auto;
}

.swiper {
  width: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.banner__swiper-button-next::after,
.banner__swiper-button-prev::after {
  display: none;
  color: #212529;
  font-size: 30px;
  opacity: 0.5;
  transition: all 0.5s;
}

.banner__swiper-button-next:hover::after,
.banner__swiper-button-prev:hover::after {
  font-size: 40px;
  opacity: 1;
}

.campain-details {
  position: absolute;
  animation: mymove 3s;
  top: 50%;
  left: 5%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0;
}

.campain-text {
  font-family: commercial;
}

.campain-details .season {
  color: #b45364;
  font-size: 0.4em;
  text-transform: uppercase;
}

.campain-details .main {
  color: #212529;
  font-size: 0.9em;
  text-transform: capitalize;
}

.campain-details .sub {
  color: #212529;
  font-size: 0.4em;
}

.campain-text-btn {
  margin-top: 10px;
  border: none;
  background-color: #eccbbe;
  color: #fff;
  transition: all 0.5s;
  font-size: 0.6em;
}

.campain2 {
  animation: othermove 5s;
  animation-iteration-count: 2;
}

.campain-text-btn:hover {
  background-color: #e0ab97;
}

@keyframes mymove {
  from {
    top: 0px;
  }
  to {
    top: 50%;
  }
}

@keyframes othermove {
  from {
    top: 0px;
  }
  to {
    top: 50%;
  }
}

/* banner */

/* welcome section */
.welcome-container {
  display: grid;
  gap: 10px;
  margin-top: 10px;
}

.welcome-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.5s;
}

.welcome-container .campain1 {
  top: 50%;
  left: unset;
  right: 5%;
  transform: translateY(-50%);
  position: absolute;
}

.welcome-container .campain-details .main,
.welcome-container .campain-details .sub {
  color: #fff;
}

.welcome-container .campain-details .season {
  color: #e0ab97;
}

.welcome-right-top .campain-details .main,
.welcome-right-top .campain-details .sub {
  color: #212121;
}

.welcome-container .campain-details .main {
  font-size: 15px;
}

.welcome-right-top {
  overflow: hidden;
  position: relative;
}

.welcome-left img:hover {
  transform: scale(1.05);
}

.welcome-right-top:hover img {
  transform: scale(1.05);
}

.welcome-right-bottom:hover img {
  transform: scale(1.05);
}

.welcome-right-bottom {
  overflow: hidden;
  position: relative;
}

.welcome-left {
  overflow: hidden;
  position: relative;
}

.welcome-right {
  display: grid;
  gap: 10px;
  overflow: hidden;
}

.welcome-right img {
  max-height: 350px;
}

.welcome-slogan {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(2, 1fr);
}

.welcome-slogan-details img {
  width: 70px;
  aspect-ratio: 1;
  object-fit: contain;
  transition: all 0.5s;
}

.welcome-slogan-details {
  width: 80%;
  height: 250px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.welcome-slogan-details:hover .img-fluid {
  transform: scale(1.2);
}

.welcome-slogan-details .slogan {
  font-weight: bolder;
  font-size: 25px;
  margin-top: 10px;
}

.welcome-slogan-details .slogan-sup {
  font-weight: lighter;
  font-size: 13px;
}

/* welcome section */
/* about section */
.aboutSection {
  overflow: hidden;
  background-color: #fbf5f3;
}
.aboutSection__leftContents {
  height: 400px;
  position: relative;
  overflow: hidden;
}

.about-background {
  width: 100%;
  height: 100%;
  position: relative;
  background-size: contain;
  background-repeat: repeat;
  background-image: url(assets/imgs/VivienPro-Hero-03.jpeg);
  background-attachment: fixed;
  filter: blur(3px);
}

.aboutSection-container {
  max-width: 1920px;
  margin: auto;
}

.aboutSection__mainImg {
  position: absolute;
  z-index: 10;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 300px;
  width: 60%;
}

.aboutSection__mainImg img {
  max-height: 600px;
  width: 100%;
  z-index: 10;
  object-fit: cover;
  height: 100%;
}

.aboutSection__rightContents {
  margin-top: 20px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.aboutSection__rightContents h5 {
  font-size: larger;
}

.aboutSection__rightContents h2 {
  font-weight: bolder;
  margin-top: 10px;
  margin-bottom: 20px;
}

.aboutSection__rightContents p {
  font-family: pompiere;
  font-size: large;
  font-weight: 500;
}

.rightContentsBtn {
  align-self: flex-end;
  transition: all 0.5s;
}

.rightContentsBtn a {
  transition: all 0.5s;
  color: #eccbbe;
  font-weight: bolder;
}

.rightContentsBtn:hover a {
  color: #e0ab97;
  text-decoration: underline;
}

/* about section */

/* products */

.nav-tabs .nav-link {
  background: 0 0;
  border: none;
  color: #212529;
  transition: all 0.3s;
}

.nav-tabs {
  border: none;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  color: #eccbbe;
  border: none;
  text-decoration: underline;
  transform: scale(1.3);
}

.nav-link {
  width: 120px;
}

.tab-content {
  padding: 50px;
  position: relative;
  overflow: hidden;
}

.Products__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Products__title {
  margin-top: 50px;
  text-align: center;
  text-transform: capitalize;
  font-size: 30px;
  line-height: 40px;
  margin-bottom: 0;
  font-weight: 500;
  padding: 0 0 23px;
  color: #212529;
  background: url(assets/imgs/Seprator.png) no-repeat center bottom;
}

.Products__details {
  margin-top: 30px;
}

.Products__details .card-title {
  text-align: center;
  margin-top: 10px;
  font-size: medium;
  font-weight: bolder;
}

.products-swiper-button-next,
.products-swiper-button-prev {
  border-radius: 100%;
  background-color: #eccbbe;
  width: 30px;
  height: 30px;
  color: #fff;
}

.products-swiper-button-next::after,
.products-swiper-button-prev::after {
  font-size: 16px;
}

.products-img-container {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.main-img {
  transition: all 1.5s;
  object-fit: cover;
  width: 100%;
}

.second-img {
  position: absolute;
  opacity: 0;
  transition: all 1.5s;
  top: 0;
  object-fit: cover;
  width: 100%;
}

.card .products-img-container:hover .main-img {
  opacity: 0;
}

.card .products-img-container:hover .second-img {
  opacity: 1;
}

.Products__details .card {
  border: solid 1px #eccbbe;
  border-radius: 0.5rem;
  overflow: hidden;
}

.Products__details .card-text {
  align-self: center;
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  margin-top: 10px;
  margin-bottom: 10px;
}

.Products-img-icons {
  position: absolute;
  z-index: 100;
  transform: translateY(200%);
  transition: all 1s;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  background-color: #e0ab9780;
  color: #fff;
}

.Products-img-icons i:hover {
  background-color: #e0ab97;
  color: #fff;
}

.Products-img-icons i {
  width: 100%;
  transition: all 0.3s;
  height: 40px;
  line-height: 40px;
}

.card .products-img-container:hover .Products-img-icons {
  transform: translateY(0);
  font-size: x-large;
}

.price {
  font-size: larger;
  font-family: pompiere;
  color: #212529;
}

.originalPrice {
  text-decoration: line-through;
  color: #21252980;
}

.Products__details .card-body {
  padding: 0;
  padding-top: 10px;
}
.sell-btn {
  display: flex;
  width: 100%;
  flex-wrap: nowrap;
}

.buyBtn {
  height: 40px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease;
  position: relative;
  line-height: 40px;
  background-color: #eccbbe;
  color: #fff;
  margin-top: 10px;
}

.buyBtn i {
  margin-right: 10px;
}

.buyBtn:hover {
  background-color: #e0ab97;
  color: #fff;
}
.Products__details a:hover {
  color: #fff;
}

.Products__link {
  align-self: flex-end;
  font-size: larger;
  color: #eccbbe;
  overflow: hidden;
  transition: all 0.5s;
  padding: 0;
  cursor: pointer;
}

.Products__link .fa-arrow-right {
  transform: translateX(100%);
  transition: all 0.5s;
  font-size: medium;
  margin-left: 5px;
}

.Products__link:hover {
  color: #e0ab97;
  transform: translateX(-20px);
}

.Products__link:hover .fa-arrow-right {
  transform: translateX(0px);
}
/* products */

/* brand */
.brandSwiper {
  margin-top: 50px;
}

.brandSwiper .swiper-slide img {
  width: 100%;
  aspect-ratio: 1;
  object-fit: contain;
}
/* brand */

/* categories */
.indexCategories-container {
  margin-top: 50px;
  width: 100%;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(1, 1fr);
}

.img-rightContent {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 1rem;
}

.img-leftContent {
  width: 100%;
  position: relative;
  overflow: hidden;
}

.indexCategories-container img {
  width: 100%;
  object-fit: cover;
  height: 100%;
  transition: all 0.5s;
}

.categories-title {
  margin-top: 50px;
  text-align: center;
  text-transform: capitalize;
  font-size: 30px;
  line-height: 40px;
  margin-bottom: 0;
  font-weight: 500;
  padding: 0 0 23px;
  color: #212529;
  background: url(assets/imgs/Seprator.png) no-repeat center bottom;
}

.categories-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: larger;
  background-color: #e0ab9780;
  width: 7rem;
  height: 2.5rem;
  line-height: 2.5rem;
  text-align: center;
  cursor: pointer;
  transition: all 1s;
}

.img-rightContent-each:hover .categories-text,
.img-leftContent:hover .categories-text {
  background-color: #e0ab97;
}

.img-rightContent-each:hover img,
.img-leftContent:hover img {
  filter: brightness(75%);
  transform: scale(1.05);
}

.img-rightContent-each {
  width: 100%;
  height: 100%;
  position: relative;
  transition: all 0.5s;
  overflow: hidden;
}

.categories-text-big {
  font-size: xx-large;
  width: 10rem;
  height: 3rem;
  line-height: 3rem;
}
/* categories */

/* testimonial */
.testimonial-section {
  background-image: url(assets/imgs/testimonial1.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 350px;
  margin-top: 100px;
  position: relative;
}

.testimonial-container {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.testimonial-row {
  width: 100%;
  max-height: 220px;
  display: flex;
  transition: all 1.5s;
}

.testimonial-content {
  min-width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.testimonial-indicator {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -50px;
}

.testimonial-btn {
  display: inline-block;
  height: 15px;
  width: 15px;
  border-radius: 15px;
  margin: 3px;
  background-color: #eccbbe;
  cursor: pointer;
  transition: all 0.5s;
}

.testimonial-active {
  width: 45px;
}

.testimonial {
  width: 100%;
  height: 100%;
  padding: 0;
  overflow: hidden;
}

.testimonial-details {
  width: 100%;
  display: flex;
  justify-content: center;
}

.testimonial-img {
  width: 125px;
}

.testimonial-img img {
  max-width: 100px;
  aspect-ratio: 1;
  border-radius: 100%;
}

.quote-paragraph {
  font-family: pompiere;
  font-size: 13px;
  margin-left: 40px;
  font-weight: bold;
}

.quote-paragraph span {
  font-family: Madina;
  font-weight: bolder;
  float: right;
  margin: 10px;
  font-size: 18px;
}
/* testimonial */

/* advertise */

.advert {
  max-width: 1920px;
  position: relative;
  margin-top: 100px;
  overflow: hidden;
}
.advert-img {
  width: 100%;
  height: 500px;
  object-fit: cover;
  opacity: 0.5;
}

.advert-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.advert-title {
  font-size: 25px;
}

.advert-title span {
  color: #e0ab97;
}

.advert-subTitle {
  font-family: Madina;
  color: #e0ab97;
}

.advert-paragraph {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 13px;
}

.adver-btn {
  background-color: #eccbbe;
  color: #fff;
  width: 200px;
  height: 50px;
  line-height: 50px;
  border-radius: 50px;
  font-size: 16px;
  transition: all 0.5s;
  text-transform: uppercase;
}

.adver-btn:hover {
  background-color: #e0ab97;
  color: #fff;
}
/* advertise */
/* blogs */
.blogs {
  position: relative;
  margin-top: 100px;
}

.blogSwiper {
  padding: 50px;
  padding-left: 35px;
  padding-right: 35px;
}

.blogSwiper .card {
  border: none;
  box-shadow: 0 0 15px 0 rgb(0 0 0 / 20%);
}

.blogSwiper img {
  width: 100%;
  max-height: 210px;
  object-fit: cover;
}

.blogSwiper .card-body {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.blogSwiper .card-title {
  font-weight: bold;
}

.blogSwiper .card-text {
  text-align: start;
  color: #21212180;
}

.blogSwiper .card-info {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.blogs-btn {
  height: 40px;
  line-height: 40px;
  width: 130px;
  background-color: #eccbbe;
  color: #fff;
  transition: all 0.3s;
}

.blogs-btn:hover {
  background-color: #e0ab97;
  color: #fff;
}

.blogs-link {
  float: right;
}

.blogs-link a {
  color: #eccbbe;
  font-size: 18px;
}

.blogs-link:hover a {
  color: #e0ab97;
}

/* blogs */

/* deal of day */
.deal .Products__title {
  margin-top: 50px;
}
/* deal of day */

/* footer */
.footer-section {
  width: 100%;
  background-color: #212121;
  height: 500px;
  color: #fff;
}
/* footer */

/* responsive */
@media (min-width: 1024px) {
  #toTopButton {
    bottom: 20px;
    right: 30px;
    font-size: 25px;
    width: 50px;
  }

  .nav-toggle form {
    display: block;
  }

  .nav-main {
    height: 150px;
    padding-bottom: 50px;
    position: relative;
  }

  .nav-bottom {
    display: block;
  }

  .nav-toggle .cart {
    display: none;
  }
  .nav-brand {
    font-size: 50px;
  }

  .banner__swiper-button-next::after,
  .banner__swiper-button-prev::after {
    display: block;
  }

  .campain-details {
    left: 12.5%;
  }

  .campain-details .season {
    color: #b45364;
    font-size: 18px;
    text-transform: uppercase;
  }

  .campain-details .main {
    color: #212529;
    font-size: 60px;
    text-transform: capitalize;
  }

  .campain-details .sub {
    color: #212529;
    font-size: 18px;
  }

  .campain-text-btn {
    margin-top: 20px;
    width: 120px;
    height: 50px;
    font-size: 18px;
  }

  .swiper-slide {
    max-height: 750px;
  }

  .welcome-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    gap: 10px;
    margin-top: 10px;
  }

  .welcome-container .campain1 {
    top: 50%;
    left: unset;
    right: 15%;
    transform: translate(20%, -50%);
    position: absolute;
    max-width: 350px;
  }

  .welcome-container .campain-details .main {
    font-size: 35px;
  }

  .welcome-slogan {
    grid-template-columns: repeat(4, 1fr);
  }

  .welcome-slogan-details {
    height: 300px;
  }

  .aboutSection__leftContents {
    height: 700px;
    overflow: visible;
  }

  .aboutSection__mainImg {
    position: absolute;
    z-index: 10;
    top: 50%;
    left: 50%;
    transform: translate(-5%, -50%);
    height: 600px;
  }

  .aboutSection__mainImg img {
    height: 100%;
  }

  .aboutSection__rightContents {
    padding: 50px;
    padding-top: 75px;
    padding-left: 100px;
  }

  .indexCategories-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }

  .testimonial-section {
    height: 300px;
    background-position: unset;
  }

  .advert-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 1;
  }

  .advert-content {
    left: 30%;
    width: 600px;
  }
  .adver-btn {
    margin-top: 20px;
  }

  .advert-title {
    font-size: 35px;
  }

  .advert-paragraph {
    font-size: 16px;
  }

  .brandSwiper .swiper-slide {
    padding: 50px;
  }

  .quote-paragraph {
    font-size: 20px;
  }

  .quote-paragraph span {
    font-size: 30px;
  }

  .blogSwiper-btn-next,
  .blogSwiper-btn-prev {
    display: none;
  }

  .blogs:hover .blogSwiper-btn-next,
  .blogs:hover .blogSwiper-btn-prev {
    display: flex;
  }

  .blogSwiper {
    padding-left: 40px;
    padding-right: 40px;
  }
}
/* responsive */
