/* font for logo */
@font-face {
  font-family: Madina;
  src: url(assets/fonts/Madina.ttf);
}
/* font for logo */

@font-face {
  font-family: pompiere;
  src: url(assets/fonts/Pompiere-Regular.ttf);
}

@font-face {
  font-family: SoftElegance;
  src: url(assets/fonts/SoftElegance.ttf);
}

* {
  box-sizing: border-box;
  font-family: SoftElegance;
}

body {
  margin: 0;
  padding: 0;
  background-color: #fff;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: #212529;
}

a:hover {
  color: #212529;
}

ul {
  list-style: none;
}
.body-container {
  transition: all 1s;

  margin: auto;
}

.body-container[data-blur="true"] {
  filter: blur(3px) brightness(50%);
  pointer-events: none;
  user-select: none;
}

/* navbar */
.navbar__container {
  height: 100px;
  width: 100%;
  max-width: 1920px;
  margin: auto;
}

.navbar {
  height: 100%;
}

.navbar__socialLink {
  display: none;
}

.navbar__socialLink i {
  color: #212529;
  font-size: 15px;
  margin-left: 10px;
}

.navbar__dropDown {
  padding-top: 5rem;
  padding-right: 10px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  position: fixed;
  inset: 0 45% 0 0;
  background: #fbf5f3;
  z-index: 100;
  gap: 5rem;
  transition: all 0.8s;
  transform: translateX(-100%);
}

.navbar__mobileToggle {
  position: absolute;
  width: 3rem;
  aspect-ratio: 1;
  border: none;
  background: inherit;
  top: 25%;
  left: 0;
  z-index: 9999;
  font-size: 20px;
  display: block;
}

.navbar__dropDown[data-visible="true"] {
  transform: translateX(0%);
}

.navbar__mobileToggle[aria-expanded="true"] {
  display: none;
}

.navbar__expandmenu__mobileToggle {
  width: 3rem;
  aspect-ratio: 1;
  border: none;
  background: inherit;
  font-size: 20px;
  position: absolute;
  right: 0;
  top: 0;
}

.navbar__cart {
  position: fixed;
  inset: 0 0 0 45%;
  background: #fbf5f3;
  z-index: 100;
  transition: all 0.75s;
  transform: translateX(100%);
}

.navbar__cart[data-visible="true"] {
  transform: translateY(0%);
}

.navbar__cartToggle_expanded {
  width: 3rem;
  aspect-ratio: 1;
  border: none;
  background: inherit;
  font-size: 20px;
  position: absolute;
  right: 0;
  top: 10px;
}

.navbar__dropDown ul {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-right: 1rem;
}

.navbar__dropDown-search {
  max-width: 100%;
}

.form-control {
  border: solid #fdeae3;
}

.form-control:focus {
  color: #212529;
  background-color: #fff;
  border-color: #fdeae3;
  outline: 0;
}

.navbar__dropDown-search-Btn {
  width: 40px;
  font-size: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar__dropDown-search-Btn i {
  font-size: 15px;
}

.navbar__dropDown i {
  color: #212529;
}

.navbar__link {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.navbar__link li:not(:nth-child(3)) {
  display: none;
  color: #212529;
}

.navbar__link__home {
  color: #212529;
  font-size: 30px;
  font-family: Madina;
  font-weight: bolder;
}

.navbar__userLink {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 20px;
  gap: 1rem;
}

.navbar__userLink-search {
  display: none;
}

.navbar__userLink-search .search-container {
  float: right;
}

.navbar__userLink-search input[type="text"] {
  padding: 6px;
  font-size: 15px;
  border: none;
  max-width: 100px;
}

.navbar__userLink-search .search-container button {
  float: right;
  padding: 6px 10px;
  margin-right: 16px;
  background: rgb(255, 255, 255);
  font-size: 15px;
  border: none;
  cursor: pointer;
}

.navbar__userLink-search .search-container button:hover {
  background: #ccc;
}

/* navbar */
/* banner */

.banner {
  max-width: 1920px;
  margin: auto;
}

.swiper {
  width: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.banner__swiper-button-next::after,
.banner__swiper-button-prev::after {
  display: none;
  color: #212529;
  font-size: 30px;
  opacity: 0.5;
  transition: all 0.5s;
}

.banner__swiper-button-next:hover::after,
.banner__swiper-button-prev:hover::after {
  font-size: 40px;
  opacity: 1;
}

/* banner */

/* welcome section */
.welcome-container {
  margin: auto;
  display: grid;
  grid-template-columns: 1fr;

  margin-bottom: 50px;
}
.Welcome-title {
  margin-top: 50px;
  font-weight: 800;
  text-align: center;
  padding: 0 0 30px;
  color: #212529;
  text-transform: capitalize;
  background: url(assets/imgs/Seprator.png) no-repeat center bottom;
}

.welcome-details {
  width: 100%;
  border-radius: 500px 500px 0 0;
  overflow: hidden;
  margin-top: 100px;
  font-weight: bolder;
}

.main-title {
  font-size: 35px;
}

.welcome-details img {
  object-fit: cover;
  width: 100%;
}

.welcome-content {
  width: 100%;
  height: 200px;
  background-color: #fbf5f3;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: center;
  padding: 2rem;
  padding-top: 1rem;
}

.welcome-content-title {
  font-weight: bolder;
  font-size: xx-large;
}
.welcome-content-paragraph {
  margin-top: 5px;
  font-size: medium;
  font-family: pompiere;
}
.welcome-content-button {
  margin-top: 1rem;
}
.welcome-content-button a {
  font-size: large;
  color: #eccbbe;
  text-decoration: underline;
  transition: all 0.3s;
}

.welcome-content-button:hover a {
  color: #e0ab97;
}

/* welcome section */
/* about section */
.aboutSection {
  overflow: hidden;
  background-color: #fbf5f3;
}
.aboutSection__leftContents {
  overflow: hidden;
}

.aboutSection-container {
  position: relative;
  max-width: 1920px;
  margin: auto;
}

.aboutSection__leftContents img {
  object-fit: cover;
  max-height: 900px;
  width: 100%;
  filter: blur(3px);
}

.aboutSection__mainImg {
  position: absolute;
  z-index: 10;
  top: 5%;
  left: 15%;
  width: 100%;
}

.aboutSection__mainImg img {
  max-height: 700px;
  width: 70%;
  z-index: 10;
  object-fit: cover;
}

.aboutSection__rightContents {
  margin-top: 20px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.aboutSection__rightContents h5 {
  font-size: larger;
}

.aboutSection__rightContents h2 {
  font-weight: bolder;
  margin-top: 10px;
  margin-bottom: 20px;
}

.aboutSection__rightContents p {
  font-family: pompiere;
  font-size: large;
  font-weight: 500;
}

.rightContentsBtn {
  align-self: flex-end;
  transition: all 0.5s;
}

.rightContentsBtn a {
  transition: all 0.5s;
  color: #eccbbe;
  font-weight: bolder;
}

.rightContentsBtn:hover a {
  color: #e0ab97;
  text-decoration: underline;
}

/* about section */

/* products */

.nav-tabs .nav-link {
  background: 0 0;
  border: none;
  color: #212529;
  transition: all 0.3s;
}

.nav-tabs {
  border: none;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  color: #eccbbe;
  border: none;
  text-decoration: underline;
  transform: scale(1.3);
}

.nav-link {
  width: 120px;
}

.tab-content {
  padding: 50px;
  position: relative;
  overflow: hidden;
}

.Products__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Products__title {
  margin-top: 50px;
  text-align: center;
  text-transform: capitalize;
  font-size: 30px;
  line-height: 40px;
  margin-bottom: 0;
  font-weight: 500;
  padding: 0 0 23px;
  color: #212529;
  background: url(assets/imgs/Seprator.png) no-repeat center bottom;
}

.Products__details {
  margin-top: 30px;
}

.Products__details .card-title {
  text-align: center;
  margin-top: 10px;
  font-size: medium;
  font-weight: bolder;
}

.products-swiper-button-next,
.products-swiper-button-prev {
  border-radius: 100%;
  background-color: #eccbbe;
  width: 30px;
  height: 30px;
  color: #fff;
}

.products-swiper-button-next::after,
.products-swiper-button-prev::after {
  font-size: 16px;
}

.products-img-container {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.main-img {
  transition: all 1.5s;
  object-fit: cover;
  width: 100%;
}

.second-img {
  position: absolute;
  opacity: 0;
  transition: all 1.5s;
  top: 0;
  object-fit: cover;
  width: 100%;
}

.card .products-img-container:hover .main-img {
  opacity: 0;
}

.card .products-img-container:hover .second-img {
  opacity: 1;
}

.Products__details .card {
  border: solid 1px #eccbbe;
  border-radius: 0.5rem;
  overflow: hidden;
}

.Products__details .card-text {
  align-self: center;
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  margin-top: 10px;
  margin-bottom: 10px;
}

.Products-img-icons {
  position: absolute;
  z-index: 100;
  transform: translateY(200%);
  transition: all 1s;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  background-color: #e0ab9780;
  color: #fff;
}

.Products-img-icons i:hover {
  background-color: #e0ab97;
  color: #fff;
}

.Products-img-icons i {
  width: 100%;
  transition: all 0.3s;
  height: 40px;
  line-height: 40px;
}

.card .products-img-container:hover .Products-img-icons {
  transform: translateY(0);
  font-size: x-large;
}

.price {
  font-size: larger;
  font-family: pompiere;
  color: #212529;
}

.originalPrice {
  text-decoration: line-through;
  color: #21252980;
}

.Products__details .card-body {
  padding: 0;
  padding-top: 10px;
}
.sell-btn {
  display: flex;
  width: 100%;
  flex-wrap: nowrap;
}

.buyBtn {
  height: 40px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease;
  position: relative;
  line-height: 40px;
  background-color: #eccbbe;
  color: #fff;
  margin-top: 10px;
}

.buyBtn i {
  margin-right: 10px;
}

.buyBtn:hover {
  background-color: #e0ab97;
  color: #fff;
}
.Products__details a:hover {
  color: #fff;
}

.Products__link {
  align-self: flex-end;
  font-size: larger;
  color: #eccbbe;
  overflow: hidden;
  transition: all 0.5s;
  padding: 0;
  cursor: pointer;
}

.Products__link .fa-arrow-right {
  transform: translateX(100%);
  transition: all 0.5s;
  font-size: medium;
  margin-left: 5px;
}

.Products__link:hover {
  color: #e0ab97;
  transform: translateX(-20px);
}

.Products__link:hover .fa-arrow-right {
  transform: translateX(0px);
}
/* products */

/* categories */
.indexCategories-container {
  margin-top: 50px;
  width: 100%;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(1, 1fr);
}

.img-rightContent {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 1rem;
}

.img-leftContent {
  width: 100%;
  position: relative;
}

.indexCategories-container img {
  width: 100%;
  object-fit: cover;
  height: 100%;
  transition: all 1s;
}

.categories-title {
  margin-top: 100px;
  text-align: center;
  text-transform: capitalize;
  font-size: 30px;
  line-height: 40px;
  margin-bottom: 0;
  font-weight: 500;
  padding: 0 0 23px;
  color: #212529;
  background: url(assets/imgs/Seprator.png) no-repeat center bottom;
}

.categories-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: larger;
  background-color: #e0ab9780;
  width: 7rem;
  height: 2.5rem;
  line-height: 2.5rem;
  text-align: center;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: all 1s;
}

.img-rightContent-each:hover .categories-text,
.img-leftContent:hover .categories-text {
  background-color: #e0ab97;
}

.img-rightContent-each:hover img,
.img-leftContent:hover img {
  filter: brightness(75%);
  transform: scale(1.05);
}

.img-rightContent-each {
  width: 100%;
  height: 100%;
  position: relative;
  transition: all 1s;
}

.categories-text-big {
  font-size: xx-large;
  width: 10rem;
  height: 3rem;
  line-height: 3rem;
}
/* categories */

/* testimonial */
.testimonial-section {
  background-color: #fbf5f3;
  width: 100%;
  height: 350px;
  margin-top: 100px;
  position: relative;
}

.testimonial-title {
  text-align: center;
  padding-top: 20px;
  font-size: 30px;
}

.testimonial-container {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.testimonial-row {
  width: 100%;
  max-height: 220px;
  display: flex;
  transition: all 1.5s;
}

.testimonial-content {
  min-width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.testimonial-indicator {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -50px;
}

.testimonial-btn {
  display: inline-block;
  height: 15px;
  width: 15px;
  border-radius: 15px;
  margin: 3px;
  background-color: #eccbbe;
  cursor: pointer;
  transition: all 0.5s;
}

.testimonial-active {
  width: 45px;
}

.testimonial {
  width: 100%;
  height: 100%;
  padding: 0;
  overflow: hidden;
}

.testimonial-details {
  width: 100%;
  display: flex;
  justify-content: center;
}

.testimonial-img {
  width: 125px;
}

.testimonial-img img {
  max-width: 100px;
  aspect-ratio: 1;
  border-radius: 100%;
}

.quote-paragraph {
  font-family: pompiere;
  font-size: 13px;
  margin-left: 40px;
}

.quote-paragraph span {
  font-family: Madina;
  font-weight: bolder;
  float: right;
  margin: 10px;
  font-size: 18px;
}
/* testimonial */

/* responsive */
@media (min-width: 1024px) {
  .navbar__socialLink {
    display: flex;
  }
  .navbar__dropDown {
    display: none;
  }
  .navbar__link li:not(:nth-child(3)) {
    display: block;
    color: #212529;
  }
  .navbar__link {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
  }

  .navbar__link__home {
    font-size: 50px;
  }
  .navbar__userLink-search {
    display: block;
  }
  .swiper-slide img {
    max-height: 830px;
  }

  .navbar__mobileToggle {
    display: none;
  }

  .navbar__cart {
    inset: 0 0 0 75%;
  }

  .navbar__cartToggle_expanded {
    font-size: 30px;
  }

  .navbar__cartToggle {
    margin-right: 30px;
  }

  .banner__swiper-button-next::after,
  .banner__swiper-button-prev::after {
    display: block;
  }

  .welcome-container {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
  }

  .welcome-details img {
    max-height: 500px;
  }

  .aboutSection__mainImg {
    position: absolute;
    z-index: 10;
    top: 5rem;
    left: 20%;
    width: 35%;
  }

  .aboutSection__mainImg img {
    max-height: 800px;
    width: 100%;
    z-index: 10;
    object-fit: cover;
  }

  .aboutSection__rightContents {
    padding: 150px;
  }

  .indexCategories-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }

  .quote-paragraph {
    font-size: 18px;
  }

  .quote-paragraph span {
    font-size: 25px;
  }
}
/* responsive */
