html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  min-height: 100vh;
  width: 100%;
  overflow: hidden;
}

/* about-home */
.About-home {
  background-color: #fbf5f3;
  color: #212121;
  width: 100%;
  height: 100%;
  position: relative;
}

.navbar-section {
  position: absolute;
  width: 100%;
  top: 0;
  z-index: 11;
}

.nav-brand {
  font-size: 42px;
  justify-content: flex-start;
}

.navbar-container {
  display: flex;
  justify-content: space-around;
}

.nav-items {
  display: flex;
  gap: 60px;
  font-size: 30px;
  font-weight: 500;
  flex-wrap: nowrap;
}

.nav-items a {
  transition: all 0.5s;
}

.nav-items a:hover {
  color: #eccbbe;
}

.nav-pc-links {
  display: none;
}

.nav-mobile-links {
  display: block;
}

.dropdown-toggle::after {
  display: none;
}

.dropdown-toggle {
  border: none;
}

.About-home-container {
  display: grid;
  grid-template-columns: unset;
  grid-template-rows: 1.5fr 1fr;
  height: 100%;
  margin-top: 75px;
  gap: 0px;
}

.About-home-leftContents {
  height: 100%;
  display: flex;
  overflow: hidden;
  padding-left: 0px;
}

.About-home-img {
  width: 100% !important;
  height: 100% !important;
  object-fit: cover;
  border-top-left-radius: 100%;
  border-top-right-radius: 100%;
}

.About-home-brand {
  font-size: 20px;
  font-weight: 900;
}

.About-home-title {
  font-size: 40px;
  font-weight: 900;
}

.About-home-rightContents {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  height: 100%;
  padding-top: 20px;
  text-align: start;
}

.offcanvas-body {
  text-align: start;
  font-weight: 700;
  font-size: 20px;
}
/* about-home */
/* about-details */
.About-details {
  width: 100%;
  height: 100%;
  background-color: #fbf5f3;
}

.About-details-container {
  width: 100%;
  height: 100%;
  display: grid;
  position: relative;
}

.About-details-introImg {
  background-color: #eccbbe;
  height: 100%;
  width: 100%;
  background: url(../assets/imgs/About/IU.jpg);
  background-size: cover;
  background-position: center;
  display: none;
}

.About-details-contents {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: start;
  gap: 25px;
  padding: 25px;
  z-index: 2;
}

.About-details-title {
  font-size: 32px;
  font-weight: 900;
}
.About-details-sub {
  font-size: 20px;
  font-weight: 900;
  color: #e0ab97;
}

.About-details-footerImg {
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  right: 0;
  background: url(/assets/imgs/About/f48b7bb1261f0de38b7be000bc864d3e.jpeg);
  background-position: center;
  background-size: cover;
  z-index: 1;
  opacity: 0.6;
}
.About-details-paragpaph {
  font-size: 16px;
  font-weight: 700;
}
/* about-details */
/* funfact section */
.funfact-section {
  display: grid;
  grid-template-rows: 5fr 1fr;
  width: 100%;
  height: 100%;
  position: relative;
  background: linear-gradient(
    180deg,
    #b33139 0%,
    rgba(0, 0, 0, 1) 75%,
    rgba(0, 0, 0, 1) 100%
  );
}

.funfact-image {
  position: absolute;
  width: 1000px;
  height: 100%;
  top: 20px;
  left: 200px;
  background: url(../assets/imgs/About/download.jfif);
  background-size: cover;
  background-position: center;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
/* funfact section */
/* aboutfooter */
.About-footer {
  width: 100%;
  height: 100%;
  background-color: #eccbbe;
}

.About-footer-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  height: 100%;
}

.About-footer-leftContents {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1.25fr 1fr 1fr;
  width: 100%;
  height: 100%;
  gap: 0;
}

.About-footer-leftContents div {
  background-position: center;
  background-size: cover;
  background-repeat: none;
}

.footer-image-1 {
  background: url(/assets/imgs/About/footer1);
  grid-area: 1 / 1 / span 1 / span 2;
  background-color: black;
}

.footer-image-2 {
  background: url(/assets/imgs/About/footer2);
  grid-area: 2 / 1 / span 2 / span 1;
  background-color: green;
}

.footer-image-3 {
  background: url(/assets/imgs/About/footer3);
  grid-area: 2 / 2 / span 1 / span 1;
  background-color: hotpink;
}

.footer-image-4 {
  background: url(/assets/imgs/About/footer4);
}

.About-footer-rightContents {
  width: 100%;
  height: 100%;
  padding: 100px;
}

.About-footer-details {
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: start;
  align-items: flex-start;
  color: #fff;
  height: 100%;
  justify-content: center;
}

.About-footer-title {
  font-size: 80px;
  font-weight: 900;
  letter-spacing: 5px;
}

.About-footer-info {
  font-size: 32px;
  letter-spacing: 2px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
/* aboutfooter */

/* responsive */
@media (min-width: 1024px) {
  .nav-pc-links {
    display: flex;
  }

  .nav-mobile-links {
    display: none;
  }

  .About-home-container {
    grid-template-columns: repeat(1, 1fr 1fr);
    grid-template-rows: unset;
    justify-content: center;
    margin-top: 120px;
    margin-bottom: 50px;
  }

  .About-home-leftContents {
    padding: 50px;
  }

  .About-home-brand {
    font-size: 40px;
  }

  .About-home-title {
    font-size: 80px;
  }

  .nav-brand {
    font-size: 60px;
  }

  .About-home-rightContents {
    padding-top: 100px;
    padding-left: 100px;
  }

  .About-home-img {
    height: 80% !important;
  }

  .About-details-container {
    grid-template-columns: 1fr 2.25fr;
  }

  .About-details-introImg {
    display: block;
  }

  .About-details-footerImg {
    width: 350px;
    height: 50%;
    background: url(/assets/imgs/About/About-details-footerImg.png);
    opacity: 0.9;
    border-top-left-radius: 350px;
    background-size: cover;
    background-position: center;
  }

  .About-details-title {
    font-size: 94.2px;
  }
  .About-details-sub {
    font-size: 30px;
  }

  .About-details-contents {
    gap: 50px;
    padding: 100px;
    padding-right: 200px;
  }
}
/* responsive */
