body {
  margin: 0;
}

.container {
  width: 100%;
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.wrap-form {
  width: 500px;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  padding: 20px;
}

.form-title {
  display: block;
  font-family: "Times New Roman", Times, serif;
  font-size: 39px;
  background: linear-gradient(to right, #19dfe0 0%, #fd00ff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  font-weight: bolder;
  letter-spacing: 5px;
}

.input {
  font-family: "Times New Roman", Times, serif;
  font-size: 16px;
  color: #333333;
  line-height: 1.2;
  display: block;
  width: 95%;
  height: 25px;
  border: none;
  border-bottom: 2px solid #d9d9d9;
  padding: 10px;
}

.form-btn {
  font-family: "Times New Roman", Times, serif;
  line-height: 20px;
  font-size: 20px;
  margin-top: 30px;
  border-radius: 20px;
  align-self: center;
  width: 20%;
  color: #fff;
  background-color: #4a9ce8;
  border: none;
  padding: 5px;
  transition: 0.1s;
  cursor: pointer;
}

.login-form-btn:hover {
  background-color: #1d83e2;
}

.alert {
  font-family: "Times New Roman", Times, serif;
  display: none;
  background: linear-gradient(to right, #19dfe0 0%, #fd00ff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
